<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <itemWebApiRequest>
        <processor type="Sitecore.Support.ItemWebApi.Pipelines.Request.Search, Sitecore.Support.94870.118509" patch:i="*[@type='Sitecore.ItemWebApi.Pipelines.Request.Search, Sitecore.Speak.ItemWebApi']" />
      </itemWebApiRequest>
    </pipelines>
  </sitecore>
</configuration>